.galleryWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  max-width: 620px;
  margin: 0 auto;
}

.galleryWrap .single {
  width: 200px;
  cursor: pointer;
}

.galleryWrap .single img {
  max-width: 100%;
}

.galleryWrap .single img:hover {
  transform: scale(1.02);
}

.sliderWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sliderWrap .btnClose,
.sliderWrap .btnPrev,
.sliderWrap .btnNext {
  position: fixed;
  cursor: pointer;
  opacity: 0.6;
  color: #fff;
  z-index: 9999;
}

.btnNext:hover,
.btnPrev:hover,
.btnClose:hover {
  opacity: 1;
}

.sliderWrap .btnClose {
  top: 40px;
  right: 40px;
}

.sliderWrap .btnPrev {
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}

.sliderWrap .btnNext {
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
}
/* WSPGallery.css */

/* Styles for the photo viewer */
.fullScreenImage {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px; /* Add margin for spacing */
  box-sizing: border-box; /* Include padding and border in width and height */
  position: relative; /* Position for overlay elements */
}

.fullScreenImage img {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.fullScreenImage p {
  position: absolute;
  top: 0;
  left: 10px; /* Adjust as needed */
  font-weight: bold;
  color: white;
  background-color: rgba(
    255,
    225,
    225,
    0.7
  ); /* Adding a semi-transparent black background */
  padding: 5px 10px;
}

.btnClose,
.btnPrev,
.btnNext {
  font-size: 3rem; /* Adjust the font size as needed */
}

.carouselImage {
  cursor: pointer;
  margin: 5px;
  max-width: 800px; /* Adjust the maximum width as needed */
  max-height: 800px; /* Adjust the maximum height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc; /* Add a border for better visibility */
  margin: 0 auto; /* Center the carousel item horizontally */
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px; /* Add margin to create space below the input */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}
